@import'../../style/variable.scss';
@import'../../style/mixin.scss';


.apropos{
    background-color: white;
    padding: 2rem;

    &-main{
        width: 80%;
        margin: auto;
    }

    &-head{

        position: relative;
        overflow: hidden;
        text-align: center;
        opacity: 1;
    }
    
    &-titleBg{
        font-size: 6rem;
        color: $gris;
        opacity: 0.1;
        z-index: 1;
        text-transform: uppercase;
        // opacity: .1;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        // -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
        
        
    }
    
    &-title{
        z-index: 2;
        @include title ;
        opacity: 1 !important;
        opacity: 10;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        // color: $rouge;
    }

    &-cards{
        display: flex;
        gap: 1rem;
        padding: 3rem 0 2rem 0;
        // overflow: hidden;


        &-gallery{
            margin-left: 2rem;
            flex: 1;
            // height: 100%;

            &-border{
                border: 3px solid $rouge;
                width: 300px;
                height: 290px;
                position: relative;
                border-radius: 10px;
                transition: .5s;
                transform: translateX(-2rem);
                
                
            }
            
            &-img{
                border-radius: 10px;
                position: absolute;
                top: -3rem;
                right: 2rem;
                width: 300px;
                height: 300px;
                // width: 100%;
                // height: 100%;
                object-fit: cover;
                // -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
                // background: url('img.png') no-repeat center center/cover;
                // height: 200px;
                transition: .5s;
            }
        }

        &-gallery:hover &-gallery-border{
            background-color: $rouge;
            // opacity: .5;
            transition: .5s;
        }
        &-gallery:hover &-gallery-img{
            top: -2rem;
            right: 1rem;
            // opacity: .5;
            transition: .5s;
        }
         
        &-content{
            flex: 2;
            position: relative;

            &-title1{
                font-weight: 500;

                &-value{
                    // font-family: signature;
                    // color: 0;
                    font-weight: 580;
                    font-family: freeScript;
                    font-size: 2rem;
                }
            }
            
            &-details{
                margin-top: 1rem;
                font-size: 1rem;
                
                &-para{
                    font-weight: 400;
                    margin-top: .5rem;
                    &-value{
                        color: $rouge;
                    }
                    
                    &-gras{
                        // font-family: freeScript;
                        font-size: 1.5rem;
                        font-weight: 500;

                    }

                }
            }

            &-cv{
                margin-top: 1rem;
                position: absolute;

                right: .5rem;
                bottom: .5rem;
                &-btn{
                    align-self: flex-end;
                    align-items: end;
                    float: right;
                    border: none;
                    background-color: $rouge;
                    color: white;
                    padding: .5rem 1rem;
                    position: relative;

                }

                &-btn::after{
                    content: '';
                    border: 2px solid $rouge;
                    position: absolute;
                    bottom: 2rem;
                    background-color: red;
                }
                
                &-btn::before,
                &-btn::after{
                    content: '';
                    border: 2px solid $rouge;
                    position: absolute;
                    bottom: 2rem;

                }
            }
        }
    }
}
