// $orange: #c66d29;
// $orangeClaire: #f39f2f;
$grise: #40484a;

$noir:#0f0f0f;
$orange: #f5b93f;
$orangeClaire   : #eca517;
$gris: #292929;
$grise: #f4f4f4;

$bg-card: #ddd8d836;


$linearGradient: 90deg, $orange , $orangeClaire;


// $rouge: #FF0000;
// $rougeB: #C80018;
$rouge: #0496ff;
$rougeB: #0978c7;

$gris: #4B4E53;
$blanche: #EDF2F4;
$noir: #1D1E27;
